<div id="container-narrow">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1>{{ title }}</h1>

      <label class="align-left" for="due">Du</label>
      <input type="datetime-local"
             data-cy="due"
             id="due" formControlName="due">

      <label class="align-left" for="content">Objet</label>

      <textarea id="content" rows="10"
                #content
                formControlName="content"></textarea>

      <button
        #submit
        data-cy="save-reminder"
        (document:keydown.control.enter)="submit.click()"
        type="submit" class="btn">Enregistrer
      </button>

    </form>
  </div>
</div>
