h1 {
  margin-top: 0;
  margin-bottom: 3rem;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 40px 2rem 40px;
}

label.align-left {
  display: block;
  width: 100%;
}

label:not(:first-of-type) {
  margin-top: 1rem;
}


input, textarea {
  box-sizing: border-box;
  background: #eee;
  width: 100%;
  padding: 12px 15px;
  margin: 0.6rem 0;
  border: none;
}

textarea {
  max-width: 100%;
  margin-bottom: 0;
}

input:focus {
  border: 1px solid #888;
}

button {
  padding-left: 35px;
  padding-right: 35px;
}
