<div id="container">

  <div id="sign_in" class="form-container sign-in-container">
    <form action="#" autocomplete="off">
      <h1>{{ title }}</h1>

      <input type="email" placeholder="Email">
      <input type="password" placeholder="Mot de passe">
      <button>{{ buttonTitle }}</button>

      <a
        *ngIf="showPasswordReset"
        class="form-toggle" routerLink="/signup">Créer un compte</a>

      <a *ngIf="showPasswordReset" id="forgot-password" href="javascript:alert('TODO')">Réinitialiser mon mot de passe</a>

      <a
        *ngIf="!showPasswordReset"
        class="form-toggle" routerLink="/login">J'ai déjà un compte</a>


    </form>
  </div>

</div>
