<button
  *ngIf="isDevMode"
  (click)="loadBogus()">Load bogus 100
</button>

<div id="container-wide">

  <div class="btn-group">

    <div
      *ngIf="doneCount() > 0">
      <a
        class="btn"
        data-cy="delete-all-done"
        (click)="deleteAllDone()"
        [ngPlural]="doneCount()"
      >
        <ng-template ngPluralCase="1">Effacer le rappel terminé</ng-template>
        <ng-template ngPluralCase="other">Effacer les {{ doneCount() }} rappels terminés</ng-template>
      </a>
    </div>

    <div>
    <span
      *ngIf="doneCount() > 0"
      class="btn" (click)="selectAll(doneCount() !== reminders?.length)">
      <span *ngIf="doneCount() === reminders?.length">Décocher tout</span>
      <span *ngIf="doneCount() !== reminders?.length">Cocher tout</span>
    </span>
    </div>

    <div>
      <a
        class="btn"
        (document:keydown.n)="gotoReminderAdd($event)"
        style="cursor:pointer"
        data-cy="add-reminder"
        [queryParams]="{selectedRow: selectedIdx+1}"
        routerLink="/reminders/add">Ajouter un rappel</a>

    </div>
  </div>

  <div id="search-controls">
    <div class="bt-mat-input add-table-left-margin-equiv">
      <input id="search" type="text"
             autocomplete="off"
             [(ngModel)]="searchTerm"
             (keydown.tab)="restoreSelectedRow()"
             (keydown.escape)="searchTerm = '' ; searchTermInput.blur(); doSearch(); restoreSelectedRow()"
             (focus)="this.editingSearch = true ; searchLabel.innerHTML = 'Recherche (appuyez sur entrée)'; unselectRow() // do not use &&"
             (blur)="this.editingSearch = false ; searchLabel.innerHTML = 'Rechercher'"
             [class.editing]="this.editingSearch"
             [class.has-content]="searchTerm"
             (keydown.enter)="doSearch()"
             autoSizeInput [minWidth]="250"
      #searchTermInput>
      <label for="search" #searchLabel>Rechercher</label>
    </div>

    <label
      data-cy="check-due"
      class="search-control-item">
      Rappels dus
      <input
        [(ngModel)]="isDue"
        (ngModelChange)="reQuery()"
        type="checkbox">
    </label>

    <label
      class="search-control-item"
      title="Repousser Depuis Maintenant">
      RDM
      <input
        [(ngModel)]="pushBackFromNow"
        type="checkbox">
    </label>

    <span class="search-control-item" style="margin-left: auto;font-style: italic">
      Total : {{ total }}
    </span>
  </div>

  <table>
    <thead>
    <tr>
      <th>N°</th>
      <th>Objet</th>
      <th>Du</th>
      <th>Fait ?</th>
    </tr>
    </thead>

    <tbody>

    <tr
      *ngFor="let r of reminders; let idx=index"
      [class.done]="r.done"
      [class.selected]="selectedIdx === idx"
      (click)="emitSelectedChange(idx, $event)"
    >
      <td>{{ idx + 1 }}</td>
      <td
        (mouseenter)="pushBackOptions.style.visibility = 'visible'"
        (mouseleave)="pushBackOptions.style.visibility = 'hidden'"
      >
        {{r.content}}

        <span style="float:right;visibility: hidden" #pushBackOptions>
          <button class="btn btn-sm" (click)="pushBack(r, 60*10)">{{ pushBackFromNowChar() }}10m</button>
          <button class="btn btn-sm" (click)="pushBack(r, 60*60)">{{ pushBackFromNowChar() }}1h</button>
          <button class="btn btn-sm" (click)="pushBack(r, 60*60*4)">{{ pushBackFromNowChar() }}4h</button>
          <button class="btn btn-sm" (click)="pushBack(r, 60*60*24)">{{ pushBackFromNowChar() }}24h</button>
        </span>
      </td>
      <td
        [title]="r.due | date:'medium'"
        data-cy="due"
        [attr.data-cy-date]="r.due"
      >{{r.due | date:"E d MMM yy, H'h'mm"}}</td>
      <td>
        <label>
          <input type="checkbox"
                 data-cy="check-done"
                 [checked]="r.done"
                 (click)="toggleDone(r)">
        </label>
      </td>

    </tr>

    </tbody>
  </table>

  <div
    class="fake-link add-table-left-margin-equiv"
    style="margin-top: 1rem;"
    (click)="fetchMoreReminders()"
    *ngIf="total > reminders?.length"
  >Voir plus...
  </div>
</div>
