<div id="container-wide">
  <div style="margin-bottom: 30px;float:right;">
    <a
      class="btn"
      #addReminder
      (document:keydown.alt.n)="addReminder.click()"
      routerLink="/reminders/add">Add a reminder!</a>
  </div>

  <a #editSelectedResource
     hidden
     [routerLink]="['/reminders', 'edit', this.reminders[this.selectedIdx].id]">
    Edit</a>

  <table>
    <thead>
    <tr>
      <th>Content</th>
      <th>Due</th>
      <th>Done</th>
      <th style="display: none">Links</th>
    </tr>
    </thead>

    <tbody>

    <tr
      (document:keydown.enter)="editSelectedResource.click()"
      (document:keydown.space)="selectedIdx === idx && doneCbx.click()"
      *ngFor="let r of reminders; let idx=index"
      [class.done]="r.done"
      [class.selected]="selectedIdx === idx"
      (click)="selectedIdx = idx"
      (dblclick)="editResource.click()"
    >
      <td>{{r.content}}</td>
      <td>{{r.due | date:'short'}}</td>
      <td
        (click)="toggleDone(r)"
        style="cursor: pointer"
        >
        <input type="checkbox" [(ngModel)]="r.done" #doneCbx>
      </td>
      <td style="display: none">
        <a #editResource [routerLink]="['/reminders', 'edit', r.id]">Edit</a>
      </td>
    </tr>

    </tbody>
  </table>
</div>
