@import 'src/styles.vars';

$rounded: 8px;
p {
  background: white;
  margin:0;
  padding: .4rem 1rem;
  border-radius: 0 0 $rounded $rounded;
  float:right;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.16),
  0 7px 7px rgba(0, 0, 0, 0.07);
}

a {
  text-decoration: none;
  color: $nav-bar-color;
  font-weight: bold;
  font-family: $header-font;
}

a:hover {
  text-decoration: underline;
}
