<div id="nav-container">

  <nav id="left-nav">
    <ul>
      <li>Ng Reminders</li>
    </ul>
  </nav>

  <nav id="center-nav">

    <ul>

      <li>
        <a routerLink="/login">Login (temp)</a>
      </li>

      <li appExpandMenu>
        Reminders
        <ul class="submenu">
          <li>
            <a routerLink="/reminders/list">List</a>
          </li>
          <li>
            <a routerLink="/reminders/add">Add</a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>

  <nav id="right-nav">
    <ul>
      <li>
        <a href="javascript:alert('TODO')">Logout</a>
      </li>
    </ul>
  </nav>

</div>
