<div id="nav-container">

  <nav id="left-nav">
    <ul>
      <li>
        <a routerLink="/">Ng Reminders</a>
      </li>
    </ul>
  </nav>

  <nav id="center-nav">

    <ul>

      <li appExpandMenu>
        Config
        <ul class="submenu">
          <li>
            <a routerLink="/select-backend">Select backend</a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>

  <nav id="right-nav">
    <ul>
      <li>
        <a routerLink="/logout">Logout</a>
      </li>
    </ul>
  </nav>

</div>
