<div id="container-wide">
  <div style="margin-bottom: 30px;float:right;">
    <a
      class="btn"
      #addReminder
      (document:keydown.alt.n)="addReminder.click()"
      routerLink="/reminders/add">Add a reminder!</a>
  </div>

  <table>
    <thead>
    <tr>
      <th>Content</th>
      <th>Due</th>
      <th>Done</th>
      <th style="display: none">Links</th>
    </tr>
    </thead>

    <tbody>

    <tr
      (click)="editResource.click()"
      *ngFor="let r of reminders">
      <td>{{r.content}}</td>
      <td>{{r.due | date:'short'}}</td>
      <td>{{r.done}}</td>
      <td style="display: none">
        <a
          #editResource [routerLink]="['/reminders', 'edit', r.id]">Edit</a>
      </td>
    </tr>

    </tbody>
  </table>
</div>
