/* You can add global styles to this file, and also import other style files */

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "styles.vars";

// Styles
body {
  font-family: $body-font;
  background: $body-background-color;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: $header-font;
}

.btn {
  text-decoration: none;
  border-radius: 20px;
  border: none;
  background-color: $btn-bg-color;
  color: $btn-text-color;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 3rem 0;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25),
  0 2px 2px rgba(0, 0, 0, 0.22);
}

.btn:hover {
  background-color: $btn-hover-bg-color;
  color: $btn-hover-text-color;
}

.btn:focus {
  outline: none;
}


#container-narrow, #container-wide {
  background: white;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  color: $text-color;
}

#container-narrow {
  max-width: 380px;
}

#container-wide {
  max-width: 90%;

  padding: 80px 40px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: .75rem 1rem;
}

td {
  border-top: 1px solid $table-border-color;
}

thead th {
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}

tbody tr:hover {
  background: $table-hover-bg-color;
  color: $table-hover-text-color;
  font-weight: 600;
  letter-spacing: -0.2px; // compensates font-weight spread
}

tbody tr:first-of-type td {
  border-top: none;
}
