/* You can add global styles to this file, and also import other style files */

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "styles.vars";

// Styles
body {
  font-family: $body-font;
  background: $body-background-color;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: $header-font;
}

form .btn { // login, signup, reminder-edit
  margin: 3rem 0;
}

.btn {
  text-decoration: none;
  border-radius: 20px;
  border: none;
  background-color: $btn-bg-color;
  color: $btn-text-color;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25),
  0 2px 2px rgba(0, 0, 0, 0.22);
}

.btn-sm {
  font-size: 10px;
  padding: 8px 12px;
}

.btn:hover {
  background-color: $btn-hover-bg-color;
  color: $btn-hover-text-color;
}

.btn:focus {
  outline: none;
}

.fake-link {
  cursor: pointer;
  color: $nav-bar-color;
  font-weight: 600;
  text-decoration: underline;

  &:hover {
    color: $nav-bar-hover-color;
  }
}

#container-narrow, #container-wide {
  background: white;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  color: $text-color;
}

#container-narrow {
  max-width: 380px;
}

#container-wide {
  max-width: 90%;

  padding: 80px 40px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
}

$cell-padding: .75rem;
th, td {
  padding: $cell-padding 1rem;
}

.add-table-left-margin-equiv {
  margin-left: $cell-padding;
}

td {
  border-top: 1px solid $table-border-color;
}

thead th {
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}

tbody tr.selected.done {
  color: #c0c0c0;
}

tbody tr.selected {
  background: $table-hover-bg-color;
  color: $table-hover-text-color;
  font-weight: 600;
  letter-spacing: -0.2px; // compensates font-weight spread
}

tbody tr.done {
  color: #ccc;
  text-decoration: line-through;
}

tbody tr:first-of-type td {
  border-top: none;
}

.stick-at-top-hack {
  // Weird Angular bug, not sure why this works
  border-top: 1px solid transparent;
}

// Checkbox

tr.done input[type=checkbox] {
  opacity: .2;
}

// Weird focus appears on mouse + keyboard interaction
tr input[type="checkbox"]:focus {
  outline: none;
}

.bt-mat-input {
  position: relative;

  input, label {
    line-height: 25px;
    font-size: 18px;
    padding: 5px;
  }

  input {
    color: $text-color; // does not inherit from body
    outline: none;
    border: none;
    border-bottom: 2px solid $btn-text-color;
  }

  // I cannot animate the width change for now.
  // I'll probably have to write a custom directive for that I think
  $transition: all .25s ease, width 0s; // duration unit is mandatory
  label {
    position: absolute;
    left: 0;
    top: 0; // for the transition effect
    transition: $transition;
    cursor: text;
    color: #666;
  }

  input:focus, input.has-content {
    transition: $transition;
    border-bottom: 2px solid $btn-bg-color;

    + label {
      transition: $transition;
      color: $btn-bg-color;
      top: -30px;
      font-size: 15px;
      cursor: default;
    }
  }
}
