/*
https://hookagency.com/website-color-schemes/
Yass Queen: #ff1d58

Sister Sister: #f75990

Crown Yellow: #fff685

Blue Light: #00DDFF

Brutal Blue: #0049B7
 */

// Global
$body-background-color: #f4f4f4;
$text-color: #333;

// Unused for now
$yellow: #fff685;
$light-blue: #00DDFF;

// Nav bar
$nav-bar-color: #ff1d58;
$nav-bar-hover-color: #f75990;

// Tables
$table-border-color: #ececec;
$table-hover-bg-color: #F8F8F8;
$table-hover-text-color: #282828;

// Buttons
$btn-color: #0049B7;
$btn-hover-color: #f75990;

